body {
    background-color: #000000;
    font-family: Arial, Verdana;
    color: #ffffff;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}

h1 {
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

h2 {
    font-size: 30px;
    color: #0D0D0D
}

p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img {
    width: 250px;
    margin: auto;
    display: block;
    border: 10px;
    border-style: dashed;
    border-color: #ffffff;
}

div {
    min-height: 125px;
    padding: 20px;
    border: 3px;
    border-style: solid;
    border-color: #ffffff;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red {
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
} 

.blue {
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
    color: #C4C4C4
}

.blue h2 {
    color: #C4C4C4
}

.yellow {
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
}

.yellow p {
    color: #707070;
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}

body footer {
    background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%); 
    border: 5px;
    border-style: solid;
    border-color: #ffffff;
}

footer p {
    font-size: 20px;
    text-align: right;
    /* padding: 15px, 15px, 15px, 0px; */
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
}